html, body{
                margin:0;
                
            }
            
            body, input, label{
                font-family:Arial;
                
                //height: 100%;
            }
            
            .head {
                width:100%;
                height:100px;
                background-color: #E81111;
                border-bottom: 2px solid black;
                border-top: 2px solid black;
                
                
            }
            
            .head img {
                float: left;
                margin-right:10px;
            }
            
            
            .meny{
                
                
                margin-top:5px;
                width:100%;
                height:80px;
                
                margin-bottom: 20px;
                
                //padding:5px;
                text-align: center;
                
                
            }
            
           
            .knapp:hover {
                 background-color: whitesmoke;
    
                transition-duration: 0.2s;
            }
            
            
            .knapp{
                display: box;
                border: .05px solid black;
                border-radius:10px;
                width:20%;
                height:80%;
                
                color: black;
                line-height:80%;
                margin-right:3px;
                text-decoration: none;
                background-color: #E81111;
                float:left;
                text-align: center;
                
            }
            
            .section{
                height:120px;
                width:90%;
                margin:auto;
                padding: 10px;
                border: solid 2px black;
                background-image: url(pokemonB.jpg);
                
                background-size: 100% 100%;
            }
            
            .left{
                width:35%;
                padding-left:2.5%;
                display: inline-block;
                float: left;
                margin-left:10%;;
            }
            
            .right{
                margin-right:10%;
                width:35%;
                padding-left:2.5%;
                display: inline-block;
                float: right;
                border-left: 1px solid #aaa;
                height: 120vh;
            }
            
            form label, form input{
                display: block;
                padding:0.3em;
            }
            
            
            form label{
                margin-top:1em;
                padding-left: 0.1em;
            }
            
            form input[type="submit"]{
                border:1px solid #C10A0A;
                background: #E81111;
                margin-top:2em;
                color:white;
                padding:20px;
            }
            
            form input[type="submit"]:hover{
                background: whitesmoke;
                color:black;
                transition-duration: 0.1s;
                
            }
            
            
            
    //stage css
    
    
    
            
            .chooser {
                width: 80%;
                height:40%;
                margin: 2%;
                
            }
            .rightStage{
                width: 45%;
                height: 30%;
                display: inline-block;
                float: left;
                margin:auto;
                list-style-type: none;
                
                border: solid 2px black;
                
            }
            
            .leftStage{
                margin:auto;
                width: 45%;
                height: 30%;
                display: inline-block;
                float: right;
                list-style-type: none;
                border: 2px solid black;
                
            }
            
            .bottom {
                margin-top: 20%;
                border-bottom: 2px solid black;
                border-top: 2px solid black;
                width:100%;
                height: 30%;
                
            }
            .bottom p{
                text-align: center;
                font: 50px Helvetica;
            }

            
    //css vis_lag        
            
        
    
    .M   {
                width:40%;
                padding-left:2.5%;
                display: inline-block;
                float: right;
                height: 120vh;
                color: blue;
                
            }
            
    .rightVis{
                width:40%;
                padding-left:2.5%;
                display: inline-block;
                float: right;
                border-left: 1px solid #aaa;
                height: 120vh;
            }
            
           